
.header{
    display: flex;
    position: fixed;
    top:0;
    width:95%;
    margin:50px;
    justify-content: space-between;
    font-family: 'Caveat', cursive;
 }
 .header nav{
     display: flex;
     align-items: center;
     /* width:30%; */
     flex:3;
     justify-content: space-around;
     font-size:1.3rem;
 }
 .header  h1{
     font-size: 2.6rem;
     flex:3;
 }
 .header nav a{
     transition: 0.7s;
 }
 .header nav a:hover{
     color:#03c8a8;
     transform: scale(1.3);
 }
 #header-lastA{
     width:15%;
     background: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
     border-radius: 5px;
     position: relative;
 }
 
 /* 써보기 강조 */
 #header-lastA:hover{
     background:transparent;
 }
 #header-lastA span{
     line-height: 1.7;
     text-align: center;
     position: relative;
     display: block;
     /* width: 100%;
     height: 100%; */
     flex:1;
 }
 #header-lastA:before,
 #header-lastA:after{
     content:"";
     position:absolute;
     top:0;
     right: 0;
     background-color:#03c8a8;
     transition: all 0.8s ease;
 }
 
 #header-lastA span:before,
 #header-lastA span:after{
     content:"";
     position:absolute;
     bottom: 0;
     left: 0;
     background-color:#03c8a8;
     transition: all 0.8s ease;
 }
 
 #header-lastA span:before,#header-lastA:before{
     width:2px;
     height: 0;
 }
 #header-lastA span:after,#header-lastA:after{
     width:0;
     height: 2px;
 }
 
 
 #header-lastA span:hover:before,#header-lastA:hover:before{
     height: 100%;
 }
 #header-lastA span:hover:after, #header-lastA:hover:after{
     width: 100%;
 }
 
 
 