@import "./join.css";


body{
    overflow-y:hidden ;
}

header nav a:nth-child(3){
    color:#03c8a8;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}
main h1{
    font-size: 6rem;
    margin-bottom:74px;
}
.login{
    width: 35%;
    height: 35%;
}
.login a {
    margin-right: 15px;
}
.login a:hover{
    color:red;
}
.loginForm{
    display: flex;
    flex-direction: column;
}
input,button{
    height: 50px;
    margin: 15px 0;
    color:white;
}
input{
    border: none;
    border-bottom: solid 2px white;
    background-color: black;
    caret-color: white;
    transition: 0.5s ease-in;
}
input::placeholder{
    color:white;
}
input:focus{
    border-bottom: solid 2px #03c8a8;
}
button{
    font-weight: bold;
    font-size: 1.2rem;
    background-color: black;
    border: solid 2px white;
}
 button:hover{
    background-color: #03c8a8;
}
